section#menuScreen{
    background-color: black;
    border: 2px solid white;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5%;
    box-shadow: 5px 5px 50px brown;
    transform: translate(-50%, -50%); 
    display: none;
}

section#menuScreen div#button{
    display: grid;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 90%;
}
section#menuScreen button{
    width: 100%;
    height: 100%;
    color: white;
    margin: auto;
    background: transparent;
    box-shadow: 10px 10px 10px black;
}
section#menuScreen button:hover{
    background-color: black;
}